<div class="container">
    <div class="row">
        <div class="col-12 bg-grey">
            <h1>Hola equipo!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde qui quo quasi, officia totam aperiam sint quaerat distinctio molestias et ea voluptas, labore debitis? Mollitia, provident. Corrupti, eius voluptates.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-6 mt-4">
            <button type="button" class="btn btn-primary" (click)="showBlue = !showBlue">Primary</button>
            <div *ngIf="showBlue" class="alert alert-primary mt-4" role="alert">
                A simple primary alert—check it out!
            </div>
        </div>

        <div class="col-6 mt-4">
            <button (click)="changeGreen()" type="button" class="btn" [ngClass]="{ 'btn-success': showGreen, 'btn-secondary': !showGreen }">{{txtButton}}</button>
            <div *ngIf="showGreen" class="alert alert-success mt-4" role="alert">
                A simple primary alert—check it out!
            </div>
        </div>

        <div class="col-6 mt-4">
            <h2>Peliculas</h2>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre de película" #newPelicula (keyup.enter)="addPelicula(newPelicula)">
                <button class="btn btn-outline-secondary" type="button" (click)="addPelicula(newPelicula)">Añadir</button>
            </div>

            <ul class="list-group">
                <li class="list-group-item aling-middle" *ngFor="let peli of allPeliculas; let posicion = index">
                    <p class="my-middle">{{posicion + 1}}.- {{peli}}</p>
                    <button type="button" class="btn btn-danger float-end" (click)="deletePeli(posicion)">Eliminar</button>
                </li>
            </ul>
        </div>

    </div>
</div>
